<div class="modal fade" id="modalDelete" tabindex="-1" role="dialog" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-danger" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Are you sure?</h4>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-footer b-t-0">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>

                <form action="" method="post">
                    <input type="hidden" name="token" value="{{ csrf_token('delete') }}" />
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>
            </div>
        </div>
    </div>
</div>
