<div class="modal fade" tabindex="-1" role="dialog" id="modalLoading" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-dialog-centered text-center" role="document">
        <span class="fa fa-spinner fa-spin fa-5x w-100 text-primary"></span>
    </div>
</div>
